body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    overflow: hidden;
}
.title {
    position: absolute;
    right: 50%;
    left: 50%;
    width: max-content;
    padding-top: 50px;
    transform: translate(-50%);
    font-size: 30px;
}
.board {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
}
.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
}
#message, #restart {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: auto;
    margin-top: 10px;
}
button {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    font-family: 'Permanent Marker';
}
button:hover {
    color: goldenrod;
}
#message {
    font-size: xx-large;
    font-weight: bold;
}